# TCS Stock Market Predictor

# Data Processing

In [6]:
import pandas as pd

In [7]:
stocks = pd.read_csv("tcs.csv")

In [9]:
stocks.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,06-01-20,2201.000000,2226.399902,2188.300049,2200.149902,2124.334961,84845.0
1,07-01-20,2201.000000,2214.800049,2184.000000,2205.149902,2129.162598,44109.0
2,08-01-20,2200.000000,2259.949951,2200.000000,2255.050049,2177.343018,109402.0
3,09-01-20,2251.050049,2251.050049,2210.449951,2216.000000,2139.638916,102267.0
4,10-01-20,2216.000000,2233.000000,2208.000000,2213.850098,2137.563232,118682.0

In [10]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
Date         600 non-null object
Open         596 non-null float64
High         596 non-null float64
Low          596 non-null float64
Close        596 non-null float64
Adj Close    596 non-null float64
Volume       596 non-null float64
dtypes: float64(6), object(1)
memory usage: 32.9+ KB

In [12]:
#Observe that their are missing values in data. 
#So, null values can be filled with the mean values using Imputation method.
stocks = stocks.fillna(stocks.mean())

In [13]:
stocks['Date'] = pd.to_datetime(stocks['Date']) #Converting the column to datetime format

In [14]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
Date         600 non-null datetime64[ns]
Open         600 non-null float64
High         600 non-null float64
Low          600 non-null float64
Close        600 non-null float64
Adj Close    600 non-null float64
Volume       600 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.9 KB

In [15]:
stocks.to_csv('tcs_data.csv', index=False)

# Feature Engineering